<!-- home.component.html -->

<div style="width: 967px; height: 245px; left: 96px; top: 247px; position: absolute; justify-content: flex-start; align-items: center; gap: 53px; display: inline-flex">
    <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 64px; display: inline-flex">
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 14px; display: flex">
        <div style="width: 752px"><span style="color: black; font-size: 75px; font-family: Inter; font-weight: 400; word-wrap: break-word">This is Your </span><span style="color: #E9CE3D; font-size: 75px; font-family: Inter; font-weight: 700; word-wrap: break-word">Favorite</span><span style="color: black; font-size: 75px; font-family: Inter; font-weight: 400; word-wrap: break-word"> Contact Management</span></div>
      </div>
    </div>
  </div>
  <img style="width: 849px; height: 538px; left: 1063px; top: 223px; position: absolute" src="assets/images/contact-removebg-preview 1.png" alt="Your Image" />
  <div style="width: 923px; height: 163px; left: 49px; top: 540px; position: absolute; text-align: center; color: #898383; font-size: 40px; font-family: Inter; font-weight: 700; word-wrap: break-word">Feel free to leverage the assistance we offer in order to elevate your position to the pinnacle of success</div>
  